# ASD / dodatkowe pary apo-holo (opcjonalne).
# 1) wrzuc pliki: pdb_clean/<apo>.pdb, pdb_clean/<holo>.pdb, pdb_raw/<ID>.pdb
#    (ID = prefiks nazwy przed pierwszym '_', np. 3ABC_Nazwa -> pdb_raw/3ABC.pdb)
# 2) zmien nazwe na extra_targets.yaml
# 3) final_run.py automatycznie je wciagnie (routing + istotnosc + macierze + top5)
targets:
  - name: 3ABC_Bialko_Proksymalne
    apo: 3ABC_apo.pdb
    holo: 4DEF_ligand_holo.pdb
    ligand: null
    domain_range: null
    active_site: null
